@import url('alegreya/index.css');
@import url('barlowSemiCondensed/index.css');
@import url('bebasNeue/index.css');
@import url('cinzel/index.css');
@import url('cormorantGaramond/index.css');
@import url('encodeSans/index.css');
@import url('hangeulNuri/index.css');
@import url('hind/index.css');
@import url('iropkeBatang/index.css');
@import url('jejuGothic/index.css');
@import url('jejuMyeongjo/index.css');
@import url('lexendPeta/index.css');
@import url('nanumBarunGothic/index.css');
@import url('nanumSquareRound/index.css');
@import url('notoSans/index.css');
@import url('notoSerif/index.css');
@import url('oswald/index.css');
@import url('playfairDisplay/index.css');
@import url('pretendard/index.css');
@import url('quicksand/index.css');
@import url('raleway/index.css');
@import url('roboto/index.css');
@import url('sCoreDream/index.css');
@import url('spaceMono/index.css');
@import url('spoqaHanSans/index.css');
@import url('texGyreCursor/index.css');

.font-alegreya{
	font-family: 'Alegreya', 'sans-serif' !important;
}

.font-barlowSemiCondensed{
	font-family: 'BarlowSemiCondensed', 'sans-serif' !important;
}

.font-bebasNeue{
	font-family: 'BebasNeue', 'sans-serif' !important;
}

.font-cinzel{
	font-family: 'Cinzel', 'sans-serif' !important;
}

.font-cormorantGaramond{
	font-family: 'CormorantGaramond', 'sans-serif' !important;
}

.font-encodeSans{
	font-family: 'EncodeSans', 'sans-serif' !important;
}

.font-hangeulNuri{
	font-family: 'HangeulNuri', 'sans-serif' !important;
}

.font-hind{
	font-family: 'Hind', 'sans-serif' !important;
}

.font-iropkeBatang{
	font-family: 'IropkeBatang', 'sans-serif' !important;
}

.font-jejuGothic{
	font-family: 'JejuGothic', 'sans-serif' !important;
}

.font-jejuMyeongjo{
	font-family: 'JejuMyeongjo', 'sans-serif' !important;
}

.font-lexendPeta{
	font-family: 'LexendPeta', 'sans-serif' !important;
}

.font-nanumBarunGothic{
	font-family: 'NanumBarunGothic', 'sans-serif' !important;
}

.font-nanumSquareRound{
	font-family: 'NanumSquareRound', 'sans-serif' !important;
}

.font-notoSans{
	font-family: 'NotoSans', 'sans-serif' !important;
}

.font-notoSerif{
	font-family: 'NotoSerif', 'sans-serif' !important;
}

.font-oswald{
	font-family: 'Oswald', 'sans-serif' !important;
}

.font-playfairDisplay{
	font-family: 'PlayfairDisplay', 'sans-serif' !important;
}

.font-pretendard{
	font-family: 'Pretendard', 'sans-serif' !important;
}

.font-quicksand{
	font-family: 'Quicksand', 'sans-serif' !important;
}

.font-raleway{
	font-family: 'Raleway', 'sans-serif' !important;
}

.font-roboto{
	font-family: 'Roboto', 'sans-serif' !important;
}

.font-sCoreDream{
	font-family: 'SCoreDream', 'sans-serif' !important;
}

.font-spaceMono{
	font-family: 'SpaceMono', 'sans-serif' !important;
}

.font-spoqaHanSans{
	font-family: 'SpoqaHanSans', 'sans-serif' !important;
}

.font-texGyreCursor{
	font-family: 'TexGyreCursor', 'sans-serif' !important;
}